*.pyc
__pycache__/
*.pyo
*.pyd


*.log
*.pot
*.mo
*.swp
*.swo


.DS_Store
Thumbs.db


.vscode/
.idea/


.env
*.egg-info/
*.eggs/
.cache/
dist/
build/


*.sql
*.conf


venv/
.env/
